APP_HOST=0.0.0.0
APP_PORT=5055
APP_PASSWORD=change-this-password
APP_SECRET=change-this-to-a-long-random-string
APP_SECURE_COOKIE=0
APP_DATA_DIR=../plex-open-web-data
PLEX_BASE_URL=http://127.0.0.1:32400
PLEX_TOKEN=your-plex-token
FFMPEG_PATH=ffmpeg
SAVED_MEDIA_DIR=../plex-open-web-saved
HLS_CACHE_TTL=14400
HLS_CACHE_MAX_BYTES=6442450944
HLS_STARTUP_TIMEOUT=15
HLS_TRANSCODE_TIMEOUT=14400
MEDIA_DELETE_ENABLED=0
MEDIA_DELETE_ROOTS=/media/user/movies:/media/user/tv
MEDIA_DELETE_PLAN_TTL=300
QBITTORRENT_BACKUP_DIR=
OPENSUBTITLES_API_KEY=
OPENSUBTITLES_USERNAME=
OPENSUBTITLES_PASSWORD=
OPENSUBTITLES_USER_AGENT=PlexOpenWeb v0.19.0
